.login_page {
  display: inline-block;
  justify-content: center;
  background: url('../assets/images/bg.png');
  background-size: cover;
  .logo {
    width: 150px;
    height: 150px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .request {
    display: flex;
    justify-content: center;
  }
}