.login_page {
  background: url('../assets/images/bg.png');
  background-size: cover;
  .logo {
    width: 150px;
    height: 150px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .request {
    display: flex;
    justify-content: center;
  }
  .label1 {
    margin-top: 10;
    margin-bottom: 10;
    margin-right: 2;  
    color: '#A9A9A9'; 
    font-size: 12;
  }
}